@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	
	margin: 2% 30% 5% 20%;
	font-style: normal;
	font-weight: 200;
}
#div_img{
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
#div_thumbnail{
/*	margin-left: 100px;*/
/*	box-shadow: 10px 10px 5px #888888;*/
	width: 1000px;
}
.thumbnail{
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.setting_head{
	background-color:darkturquoise;
	width: 100%;
	height: 50px;
	font-size: 250%;
	box-shadow:inset 0px 0px 80px #ffffff;
	border-top-style: ridge;
	border-top-width: 2px;
	border-bottom-style: ridge;
	border-bottom-width: 2px;
	float: left;
	text-align: center;
}
#div_stat{
	background-color: white;
	margin: 3%;
	width: 900px;
	height: 650px;
	box-shadow: 10px 10px 5px #888888;
	border-style: ridge;
	float: left;
	position: absolute;
	display: none;
}
.X{
	background-color: darkturquoise;
	width:50px;
	height:50px;
	float: right;
}
#div_setting{
	background-color: white;
	margin: 3%;
	width: 900px;
	height: 650px;
	box-shadow: 10px 10px 5px #888888;
	border-style: ridge;
	float: left;
	position: absolute;
	display: none;
}
#setting{
	background-color:darkturquoise;
	width: 100%;
	height: 50px;
	font-size: 250%;
/*	box-shadow: 10px 10px 10px #777777;*/
	border-top-style: ridge;
	border-top-width: 2px;
	border-bottom-style: ridge;
	border-bottom-width: 2px;
/*	box-shadow:inset 0px 0px 80px #777777;*/
	text-align: center;
}

#div_constrain_setting{
	height: 300px;
/*	box-shadow:inset 10px 10px 5px #888888;*/
	display: none;
}
.setting{
/*	background-color: aquamarine;*/
	
	background-color: aquamarine;
	margin-top: 2%;
	margin-left: 5%;
	width: 40%;
	height: 15%;
	font-size: 200%;
	box-shadow: 5px 5px 10px #777777;
/*	box-shadow: inset 0px 0px 10px #777777;*/
	float: left;
	
	text-align: center;
}
#div_time_setting{
	background-color: white;
	margin: 2%;
	width: 850px;
	height: 550px;
	border-style: ridge;
	float: left;
	position: absolute;
	display: none;
}
#div_topic_setting{
	background-color: white;
	margin: 2%;
	width: 850px;
	height: 550px;
	border-style: ridge;
	float: left;
	position: absolute;
	display: none;
}
#img{
	float: left;
}
#constrain{
	background-color:darkturquoise;
	width: 100%;
	height: 50px;
	font-size: 250%;
	box-shadow:inset 0px 0px 80px #ffffff;
	border-top-style: ridge;
	border-top-width: 2px;
	border-bottom-style: ridge;
	border-bottom-width: 2px;
	
	text-align: center;
}
#information{
	background-color:darkturquoise;
	width: 100%;
	height: 50px;
	font-size: 250%;
	box-shadow:inset 0px 0px 80px #ffffff;
	border-top-style: ridge;
	border-top-width: 2px;
	border-bottom-style: ridge;
	border-bottom-width: 2px;
	text-align: center;
}
.new{
	background-color: white;
	margin: 3%;
	width: 900px;
	height: 650px;
/*	box-shadow:0px 0px 80px #ffffff;*/
	border-style: ridge;
	float: left;
	position: absolute;
	display: none;
}